

/* Front image */
.godot {
    width:100%;
    position: absolute;
    padding: 0 auto;
    margin: 0 auto;
    height: 50%;
} 

/* Navbar */

.container {
    position: absolute;
    top: 60vh;
    width: 80%;
    margin: 0 auto;
}

  
header::after {
      content: '' ;
      display: table;
      clear: both;
    }
  
/* nav {float: right;} */
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 40%;
  }
  
nav li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 0;
  
    position: relative;
  
  
  }
  
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
  
  }
  
nav a:hover { color: #000;
  }
  
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width:0%;
  
    transition: all ease-in-out 500ms;
  }
  
nav a:hover::before {
    width: 100%;
  }

 /* Title */